// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Spoof';
    src: url('../src/font/Spoof-Regular.woff') format('woff');
}


:root{
    --index: calc(1vw + 1vh);
}

$font: 'Spoof', sans-serif;
$main-color: #FFFFFF;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $font;
    color: $main-color;
    background: #000;
}

header{
    font-family: $font;
    height: 100vh;
    background-image: url("../src/img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
    div {
        position: absolute;
        padding: 0 7vw;
        bottom: 0;
    }
}

.main-title{
    font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}

.name{
    font-size: calc(var(--index) * 2);
	position: absolute;
	width: max-content;
	bottom: 4vh;
	line-height: .9;
}


a{
    color: $main-color;
    text-decoration: none;
}


main{
    margin: 15vh 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1.title{
        font-size: calc(var(--index) * 4);
        margin: 5vh 0;
    }
}  

.workshop--inline{
    margin: 8vh 0;
    display: flex;
    flex-direction: row;
}

.workshop--item{
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 0 10px #115fb3, /* Inner blue glow */
            0 0 20px #115fb3, /* Middle blue glow */
            0 0 30px #115fb3, /* Outer blue glow */;
        border-radius: 15px;
        margin-bottom: 2vh;
        filter: grayscale(50%);
    }
    img:hover {
        filter: grayscale(0%); /* 50% grayscale */
    }
    h2.wr--title{
        font-size: calc(var(--index) * 2);
    }
    a{
        margin: 0.5vh 0;
    }
    h2{
        margin: 0.5vh 0;
    }
    h3{
        margin: 0.5vh 0;
        font-weight: 100;
    }
}

footer{
    box-shadow: 0px -5px 15px -5px #115fb3;
    padding: 0 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    div.icon--container{
        width: 8vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img .icon{
            width: 100%;
            height: auto;
        }
    }
}